@import "../const.css";

.tabbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex: 1 0 0;
  text-align: center;
  flex-direction: row;
  gap: var(--minor)
}

.item {
  margin-top: 0;
}

.tab {
  font-family: verdana;
  border: 1px solid white;
  color: white;
  display: block;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

.active .tab:hover,
.tab:hover {
  color: var(--enhanced);
  border-color: var(--enhanced);
}

.active .tab {
  border-color: var(--selected);
  color: var(--selected);
}
