@import "../const.css";

.wizard {}

.header {
  font-family: verdana;
  font-weight: normal;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: calc(var(--minor) / 2);
  margin-bottom: var(--minor);
}

.selection {
  display: flex;
  flex-direction: row;
  gap: var(--minor);
}
