*, *:before, *:after {
  --minor: 15px; /* Also known as "the Ivan" */
  --enhanced: rgb(255, 206, 31);
  --selected: #518dba;

  --added: green;
  --removed: red;

  padding: 0;
  margin: 0;
}

body:global,
html:global {
  height: 100%;
}
